@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../../App/styles/partials/main';
.MobileSellPage__container {
  .placeholder {
    color: rgb(178, 178, 178) !important;
  }
  .caption {
    margin-top: 15vh;
    text-align: center;
    margin-bottom: 5vh;
  }
  .icon {
    text-align: center;
    border: 1px solid #008511;
  }
  .vcenter {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  .media-btn {
    width: 220px !important;
    color: white !important;
    border-radius: 0px;
  }
  .buttonDown {
    border-radius: 5px;
    margin: 5px 0 0 5%;
    width: 95%;
    color: white;
  }
  .button_iOS {
    border-radius: 5px;
    margin: 5px 0 0 5%;
    width: 95%;
    height: 100%;
    color: white;
    background: rgb(153, 211, 243);
  }
  .btn_iOS_Label {
    font-size: 150%;
    font-weight: bold;
  }
  .buttonNoMedia {
    border-radius: 5px;
    margin: 30px 0 50px 0;
    color: white;
  }
  .uploadInput {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0;
  }
  .overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    cursor: pointer;
  }
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .thumnail-img {
    text-align: center !important;
    margin: auto !important;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
  .img {
    text-align: center !important;
    padding: 20px !important;
    border: 1px solid darkgrey !important;
    margin-left: 10px !important;
    padding: 5px !important;
    margin-top: 10px;
  }
  .img img {
    height: 38px;
    width: 40px;
  }
  .button-div {
    float: none;
    margin: auto !important;
  }
  .sales-form {
    width: 95% !important;
    .form-item {
      position: relative;
      & > div {
        width: calc(100% - 62px) !important;
        label,
        input {
          font-weight: 100 !important;
          box-shadow: none;
        }
      }
      .material-icons {
        padding: 0px 15px !important;
      }
    }
    .form-list-item {
      position: relative;
      & > div {
        width: calc(100% - 61px) !important;
        margin-top: 20px !important;
        margin-left: 61px;
        & > div {
          border-bottom: thin solid #e0e0e0;
          padding: 0px !important;
          display: inline-block !important;
          width: 100% !important;
          user-select: none !important;
        }
      }
      div {
        padding: 0px !important;
      }
      .material-icons {
        margin: 7px 10px !important;
        color: #008511 !important;
        font-size: 30px !important;
        position: absolute !important;
        top: -5px;
        left: 4px;
      }
    }
    .form-selectbox {
      margin-top: 30px;
      .selectFeild {
        border-bottom: 1px solid #e0e0e0;
        & > div > div > div:nth-child(2) {
          padding-left: 20px !important;
          padding-right: 0px !important;
          top: 20px !important;
        }
      }
    }
    @include desktop-and-below {
      width: 70%;
    }
    @include desktop-and-up {
      width: 60%;
    }
  }
  .icon-style {
    padding-right: 30px !important;
    height: 39px !important;
    color: #008511 !important;
    font-size: 30px !important;
  }
  .send-btn {
    width: 15% !important;
    color: white !important;
    margin-top: 20px !important;
    float: right;
    border-radius: 0px !important;
    margin-bottom: 30px !important;
  }
  .icon-btn {
    border-radius: 0px !important;
    margin-right: 1px !important;
    max-width: 50px !important;
  }
  .icon-btn span {
    color: white !important;
  }
  .media-btn .material-icons {
    margin-right: 0px;
    float: left;
    margin: 6px 0px !important;
    width: 45px;
    border-right: 1px solid white;
    color: white !important;
  }
  .video-component video {
    width: 50px !important;
  }
  .menu-nested-list:hover {
    background: none !important;
  }
  .menu-nested-list {
    border-bottom: 1px solid rgb(224, 224, 224) !important;
    & > div > div {
      padding: 16px 56px 8px 0px !important;
      & > button {
        padding: 12px 0px !important;
      }
    }
  }
  .GeoLoc__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 0px;
  }
  .GeoLoc__floatText {
    margin: 0px 0 0px 2px;
    pointer-events: none;
    user-select: none;
    color: #bdbdbd;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: normal;
  }
  .Geoloc__form-group {
    flex-grow: 2;
    font-family: 'Roboto';
    width: calc(100% + 30px);
  }
  .GeoLoc__search-input {
    min-width: 95%;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #e0e0e0;
    margin: 10px 0px 0 18px;
    padding: 0px 0px 0px 0px;
    font-size: 16px;
    outline: none;
    animation: focusing 0.75s;
    font-weight: normal;
    color: #212121;
  }
  .GeoLoc__autocomplete-container {
    border-width: 0 1px 2px 1px;
    border-style: solid;
    border-color: #e0e0e0;
    border-radius: 0 0 0 0;
    animation: fadein 0.75s;
  }
  .GeoLoc__autocomplete-Item-Active {
    padding: 10px;
    text-align: left;
    background-color: #e0e0e0;
  }
  .GeoLoc__suggestion-item {
    display: flex;
    align-items: center;
    padding: 4px;
    text-align: left;
    z-index: 3000;
  }
  .GeoLoc__suggestion-icon {
    margin-right: 8px;
    transform: scale(0.8);
  }
  .GeoLoc__mainText {
    margin-right: 0.5em;
  }
  .GeoLoc__form-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 0 0 10px;
  }
  .GeoLoc__icon {
    padding: 10px 0 0 5px;
    height: 39px !important;
    color: #008511 !important;
    font-size: 30px !important;
  }
  .GeoLoc__inputWrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
  .GeoLoc__OriginIcon {
    margin-bottom: 10px;
  }
  .SellPage__addImgWrap {
    justify-content: center;
    display: flex;
  }
  .row.display-flex > [class*='col-'] {
    flex-grow: initial;
  }
}
