@import '../../App/styles/partials/main';

.SellPageSwitcher {
  .caption {
    margin-top: 15vh;
    text-align: center;
    margin-bottom: 5vh;
  }
  .icon {
    text-align: center;
    border: 1px solid #008511;
  }
  .vcenter {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  .media-btn {
    width: 220px !important;
    color: white !important;
    margin-top: 30px !important;
    border-radius: 0px;
  }
  .buttonDown {
    border-radius: 5px;
    margin: 5px 0 0 5%;
    width: 95%;
    color: white;
  }
  .button_iOS {
    border-radius: 5px;
    margin: 5px 0 0 5%;
    width: 95%;
    height: 100%;
    color: white;
    background: rgb(153, 211, 243);
  }
  .btn_iOS_Label {
    font-size: 150%;
    font-weight: bold;
  }
  .buttonNoMedia {
    border-radius: 5px;
    margin: 30px 0 50px 0;
    color: white;
  }
  .uploadInput {
    cursor: pointer;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    opacity: 0;
  }
  .overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    cursor: pointer;
  }
  .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .videoSubtitlePreview {
    margin-top: 10px;
    width: 350px;
    border: 1px solid red;
  }

  .thumnail-img {
    text-align: center !important;
    margin: auto !important;
    @include mobile-only {
      margin-top: 50px !important;
    }
  }
  .thumnail-img .img:first-child {
    margin-left: 0px !important;
  }
  .img {
    text-align: center !important;
    padding: 20px !important;
    border: 1px solid darkgrey !important;
    margin-left: 10px !important;
    @include mobile-only {
      padding: 12px !important;
    }
  }
  .img img {
    height: 120px;
    @include mobile-only {
      height: 50px;
    }
  }
  .add-img {
    text-align: center !important;
    height: 162px !important;
    padding: 55px !important;
    border: 1px solid #008511 !important;
    border-style: dashed !important;
    background-color: #aee2ae !important;
    margin-left: 10px !important;
    @include mobile-only {
      display: none;
    }
  }
  .button-div {
    float: none;
    margin: auto !important;
  }
  .sales-form {
    margin-top: 40px !important;
    text-align: center;
    padding: 20px !important;
    width: 70%;
    margin: auto;
    @include desktop-and-below {
      width: 70%;
    }
    @include desktop-and-up {
      width: 60%;
    }
    @include mobile-only {
      width: 100%;
    }
  }
  .form-feild {
    width: calc(100% - 65px) !important;
    margin-bottom: 20px !important;
  }
  .icon-style {
    padding-right: 30px !important;
    height: 41px !important;
    border-bottom: 1px solid rgb(224, 224, 224) !important;
    border-right: 1px solid rgb(224, 224, 224) !important;
    color: #008511 !important;
    font-size: 30px !important;
  }
  .send-btn {
    width: 15% !important;
    color: white !important;
    margin-top: 20px !important;
    float: right;
    border-radius: 0px !important;
    margin-bottom: 30px !important;
  }
  .icon-btn {
    border-radius: 0px !important;
    margin-right: 1px !important;
    max-width: 50px !important;
  }
  .icon-btn span {
    color: white !important;
  }
  .media-btn .material-icons {
    margin-right: 0px;
    float: left;
    margin: 6px 0px !important;
    width: 45px;
    border-right: 1px solid white;
    color: white !important;
  }
}
.editVideo__container {
  margin-top: 10px;

  .thumnail-img {

    text-align: center !important;
    margin: auto !important;
    @include mobile-only {
      margin-top: 50px !important;
    }
  }
  .mobile_Subtitle_View{ 
    @include mobile-only {
      width:100%;
      margin:0 auto
    }
  
  }
}
