@function remSize ($px){
  @return ($px / 16px) * 1rem;
}

@function getLineHeight($dem: 100%) {
  @return ($dem / 100%) * 6;
}

@function doubleBy($val1: 1, $val2: 1) {
  @return $val1 * $val2;
}

@function deviceDimensions($width, $height, $mode: normal) {

  @if $mode == minMax { @return  "(min-device-width: #{$width}) and (max-device-width: #{$height})"; }
  @else { @return  "(device-width: #{$width}) and (device-height: #{$height})"; }
}
