@import "./mixins";

// website pallete
$white: #fff;
$primary-white: #f9f9f9;
$primary-grey: #E9E9E9;
$secondary-grey: #9d9d9d;
$primary-grey-container:#f7f7f7;
$star-color : #f1c40f;
$dark: #2c3e50;
$red:red;

$light-grey: #CDCDCD;
$ligt-grey-1: #e6e1e1;
$dark-grey: #E9E9E9;
$tabs-border: #F6F5F9;

$primary-green: #5FA02F;
$secondary-green: #5C8788;

$primary:#3498db;

$light-green: #A0E98B;
$active-tab: #828282;

$slider-bg: #F3F2F7;
$slider-nav-bg: #BDBDBD;

$slider-nav-active-bg: #94FB4E;
$menu-border: #E4E4E4;

$search-container-bg: #F9F9F9;


%shadow {
  @include box-shadow("0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)");
}

%dark-shadow {
  @include box-shadow("0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)");
}

%light-shadow{
  @include box-shadow("0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12)");
}

%lighter-shadow{
  @include box-shadow("0 1px 5px 0 rgba(0, 0, 0, 0.25), 0 2px 2px 0 rgba(0, 0, 0, 0), 0 3px 1px -2px rgba(0, 0, 0, 0)");
}

// transition effect
%trans {
    transition-property: all;
    transition-duration: 1.05s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

/* clearfix for floats */
%clearfix {
    *zoom: 1;

    &:after,
    &:before {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}
