@import url('https://fonts.googleapis.com/css?family=Roboto');
@import '../../App/styles/partials/main';

/* -- Layout ------------------------------ */
.login__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.login__fieldWrap {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.login__socialWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* -- Format ------------------------------ */
.login__container {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  min-height: 100%;
  padding: 0px 0 0 0;
  margin: 0px;
  background: white;
}

.login__fieldWrap {
  margin: 0 0 10px 0;
  @include mobile-only {
    margin: 0 0 5px 0;
  }
}

.login__socialWrap {
  margin: 20px 0 0 0;
  @include mobile-only {
    margin: 10px 0 0px 0;
  }
}

.login__botton {
  margin: 20px 0 0 0;
  @include mobile-only {
    margin: 10px 0 0px 0;
  }
}

.login__form {
  width: 100%;
  max-width: 380px;
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.login__icon {
  margin: 20px 0 0 0;
  width: 100%;
  background: white;
  text-align: center;
}

.login__title {
  margin: 10px 0 0 0;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  color: #47a400;
  background: white;
  text-align: center;
}

.login__footer {
  margin: 0;
  font-size: 12px;
  line-height: 44px;
  width: 100%;
  height: 44px;
  padding: 0 16px;
  color: #fff;
  background: #4b4b4b;
  text-align: center;
  a {
    color: #47a400;
    cursor: pointer;
  }
}

.login__body {
  padding: 0 50px 25px 50px;
}

.login__socialText {
  margin: 0 5px 0 0;
  font-size: 14px;
  color: #4b4b4b;
}

.login__socialLogo {
  margin: 0 5px 0 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
