@import '../../../components/App/styles/partials/main';
@import '../../../components/App/styles/partials/variables';
@font-face {
  src: url('../../../components/App/styles/fonts/Brandon_thin.otf');
  font-family: 'Brandon Thin';
  font-weight: normal;
}

@font-face {
  src: url('../../../components/App/styles/fonts/Brandon_light.otf');
  font-family: 'Brandon Light';
  font-weight: normal;
}

// Moblle Homepage Code
//main logo button styling
.mobile_view {
  margin-top: 20px;
  .logo_button {
    position: relative;
    width: 130px;
    height: 70px;
    background-color: #00d909;
    margin: 43.3px 0;
    text-align: -webkit-auto;
    margin: auto;
    bottom: 10px;
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 130px;
      border-left: 65px solid transparent;
      border-right: 65px solid transparent;
    }
    &:before {
      bottom: 99%;
      border-bottom: 43.3px solid #00d909;
    }
    &:after {
      top: 99%;
      border-top: 43.3px solid #00d909;
    }
    .button_text {
      display: block;
      width: 100px;
      height: 100%;
      margin: 0 0 0 15px;
      text-align: center;
      font-weight: bold;
      font-size: 37px;
      color: #ffffff;
      padding-top: 5px;
    }
    p {
      margin-bottom: 0px;
    }
  }
  //record button Styling
  .record_button {
    position: relative;
    width: 130px;
    height: 70px;
    background-color: #f9f9f9;
    margin: 43.3px 0;
    text-align: -webkit-auto;
    p {
      margin-bottom: 0px;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 0;
      border-left: 65px solid transparent;
      border-right: 65px solid transparent;
    }
    &:before {
      bottom: 100%;
      border-bottom: 43.3px solid #f9f9f9;
    }
    &:after {
      top: 100%;
      width: 0;
      border-top: 43.3px solid #f9f9f9;
    }
    .button_text {
      display: block;
      width: 100px;
      height: 100%;
      margin: 0 auto;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      color: #e10002;
      .button_innerText {
        font-size: 18px;
        font-weight: normal;
        color: black;
        padding-bottom: 3px;
      }
      .underline {
        display: block;
        width: 50%;
        margin: auto;
        border-top: 1px solid #e10002;
      }
    }
  }
  //Buy button Styling
  .browse_button {
    position: relative;
    width: 130px;
    height: 70px;
    background-color: #f9f9f9;
    margin: 43.3px 0;
    text-align: -webkit-auto;
    float: right;
    p {
      margin-bottom: 0px;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 0;
      border-left: 65px solid transparent;
      border-right: 65px solid transparent;
    }
    &:before {
      bottom: 100%;
      border-bottom: 43.3px solid #f9f9f9;
    }
    &:after {
      top: 100%;
      width: 0;
      border-top: 43.3px solid #f9f9f9;
    }
    .button_text {
      display: block;
      width: 100px;
      height: 100%;
      margin: 0 auto;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      color: #6cbd40;
      .button_innerText {
        font-size: 18px;
        font-weight: normal;
        color: black;
        padding-bottom: 3px;
      }
      .underline {
        display: block;
        width: 50%;
        margin: auto;
        border-top: 1px solid #6cbd40;
      }
    }
  }
  //Nearby Button Styling
  .find_button {
    position: relative;
    width: 130px;
    height: 70px;
    background-color: #f9f9f9;
    margin: 43.3px 0;
    text-align: -webkit-auto;
    margin: auto;
    top: 10px;
    p {
      margin-bottom: 0px;
    }
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 0;
      border-left: 65px solid transparent;
      border-right: 65px solid transparent;
    }
    &:before {
      bottom: 100%;
      border-bottom: 43.3px solid #f9f9f9;
    }
    &:after {
      top: 100%;
      width: 0;
      border-top: 43.3px solid #f9f9f9;
    }
    .button_text {
      display: block;
      width: 100px;
      height: 100%;
      margin: 0 auto;
      text-align: center;
      font-weight: bold;
      font-size: 25px;
      color: #0893ff;
      .button_innerText {
        font-size: 18px;
        font-weight: normal;
        color: black;
        padding-bottom: 3px;
        width: 130px;
        margin-left: -15px;
      }
      .underline {
        display: block;
        width: 50%;
        margin: auto;
        border-top: 1px solid #0893ff;
      }
    }
  }
  .bottom_button {
    text-align: center;
  }
}

//Button styling
