@import '../../App/styles/partials/main';
@import '../../App/styles/partials/variables';
// [Start] For fixing scroll issue on IOS
html {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  /* More properties for a fixed height ... */
}
body {
  height: calc(100% + 1px);
}
// [END] For fixing scroll issue on IOS
img[src=' '] {
  display: none;
}

.container {
  width: 100%;
  padding-right: 0;
  background-color: $primary-grey-container;
}
// product info tabs

.product-info-tabs {
  margin-top: 2%;
  border: 1.4px solid $tabs-border;
  padding: 0;
  margin-bottom: 100px;

  .tab-content {
    color: $secondary-green;
    font-weight: 300;
    // margin-top: 10px;
    padding: 4% 5% 3% 5%;
    border: 1px solid $ligt-grey-1;
    .faq-content {
      p {
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }
  }

  .tab-info {
    background: $white !important;
    color: $secondary-green !important;
    border-bottom: 1.4px solid $tabs-border !important;
    border-left: 1.4px solid $tabs-border !important;
    text-transform: none !important;
  }  
  
  &.tab-view-wrapper {
    z-index: 10;
    padding: 0px;
    justify-content: center;
    display: flex;
    background-color: $slider-bg;
    @include mobile-only {
      padding: 0px;
      left: 0px;
    }
    .tab-container {
      & > div:nth-child(1){
        width: 50% !important;
        margin: auto !important;
        @include mobile-only{
          width: 100% !important;
        }

      }

      background-color: $slider-bg;
      .active-link {
        background-color: $slider-bg !important;
        color: $primary-green !important;
      }
      .active-tab {
        background: $active-tab !important;
        color: $light-grey !important;
      }
      &div {
        background: transparent;
        color: $light-grey;
        width: 50% !important;
      }
      .tab {
        background: $slider-bg !important;
        color: $active-tab !important;
      }
      .rating-container {
        position: relative;
        // left: 4%;
        .rating-content {
          margin-bottom: 5%;
        }
        input[type='number'] {
          display: none;
        }
      }
      & > div:nth-child(2) {
        width: 50% !important;
        margin: auto !important;
        @include mobile-only{
          width: 100% !important;
        }
        div {
          height: 4px !important;
          
        }
      }
    }
  }
}

// slider section
.offerSlider-wrapper {
  position: relative;
  width: 100%;
  padding: 0 !important;
  height: 100%;
  margin: 100px 0 20px 0;
  @include mobile-only{
    margin: 10px 0 20px 0;
  }
  ul {
    margin-bottom: 50px;
    @include mobile-only{
      margin-bottom: 0px;
    }
  }
  .slider_content {
    width: 100%;
    height: 100%;

    .offerSlider-thumbnails {
      padding: 0.5%;
      background-color: #fff;
      ul {
        list-style: none;
        padding: 0;
        width: 100%;
        @include mobile-only{
          text-align: center;
          height: 75px;
          display: inline-block;
          overflow: auto;
          overflow-x: scroll;
          overflow-y: hidden;
          white-space: nowrap;
        }

        li {
          width: 90%;
          border-bottom: 1.4px solid $primary-grey;
          height: 60px;
          padding: 4px;
          margin: auto;
          @include mobile-only{
            margin: 0 auto;
            width: 75px;
            height: 75px;
            display: inline-block;
            border-bottom: none;
          }

          &:hover {
            cursor: pointer;
            border: 1.5px solid $primary-grey;
          }

          &.active-image {
            border: 1.5px solid $primary-grey !important;
          }

          img {
            max-height: 70px;
            height: 100%;
            width: 100%;
            margin: auto;
          }
          .video-component {
            height: 100%;
            div {
              height: 100%;
              video {
                height: 100%;
              }
            }
          }
        }
      }
    }

    .offerSlider-image {
      position: relative;
      height: 100%;
      @include mobile-only{
        margin-top: 20px;
        text-align: center;
        &>div{
          display: inline-block;
          text-align: center;
          &>div{
            float: none;
            display: inline-block;
          }
        }
      }
      img {
        width: 80%;
        max-width: 450px;
        display: inline-block;
      }
    }

    .offerSlider-video {
      display: flex;
      justify-content: center;
      align-content: center;
      height: 200px;
    }

    .offerSlider-info {
      position: relative;
      height: 100%;
      padding: 2.3%;
      background-color: $slider-bg;
      .offerSlider-description {
        margin-bottom: 20px;
        max-width: 80%;
      }
    }
  }
}

.offerSlider-description,
.offerSlider-title__small {
  font-weight: 300;
}

.offerSlider-title {
  margin: auto;
}

.OfferSlider__wideWrap {
  text-align: left;
  padding: 0 150px 0 0;
}
.offers-main-div {
  width: 80%;
  margin: auto;

  @include mobile-only {
    width: 100%;
  }
}
.no-padding{
  padding-left: 0px;
  padding-right: 0px;
}


