@import '../../App/styles/partials/main';

/*Mobile View CSS Start*/

/*Mobile View CSS End*/

.Browser__container {
  .body_container {
    width: 100% !important;
    margin: 0px !important;
  }

  // Hexagone Div
}
.Browser__wrap {
  width: 80%;
  margin: 0px 10%;
  display: inline-block;
  @include mobile-only {
    margin: 0px;
    width: 100%;
  }
}
.map {
  .Browser__wrap {
    margin: 0px !important;
  }
  .Browser__searchContainer {
    padding: 20px 30px;
    width: 600px;
  }
}
@include mobile-only {
  .map-view {
    .Browser__searchContainer {
      margin-bottom: 0px;
    }
    .body_container {
      position: fixed;
      top: 60px;
      left: 0px;
    }
    .App__childrenWrap {
      margin-top: 20px !important;
    }
    .listBrowser__wrap {
      padding: 0px;
    }
  }
}

.Browser__searchContainer {
  width: 100%;
  height: auto;
  // margin-top: 20px;
  background: #f3f3f7;
  padding: 0px 9.5% 30px 9.5%;
  @include tablet-only {
    padding: 20px 50px;
  }

  div.col-xs-6.text-right {
    @include mobile-only {
      text-align: left;
    }
  }
  & > div {
    padding: 0px 5px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .padded {
    height: 100%;
    padding: 2.7%;
    @include mobile-only {
      padding: 0;
    }
  }
  .padded-small {
    height: 100%;
    padding: 1.5%;
  }
  label.filter {
    padding: 1.9%;
    width: 100px;
    text-align: center;
    background: rgba(255, 255, 255, 0.07);
    @extend %lighter-shadow;
    &.active {
      background: $white;
    }
  }
  .view-filter {
    @include mobile-only {
      text-align: left;
    }
  }
  form {
    .row {
      margin-left: 0;
    }
    input[type='search'] {
      width: calc(100% - 10px);
      height: 50px;
      border: 0.1px solid #e3e4e4;
      padding: 20px;
      font-family: 'Roboto';
      font-size: 22px;
      @extend %lighter-shadow;
      &:focus {
        outline: none;
      }
      @include mobile-only {
        width: 96%;
        max-width: 57%;
      }
    }
  }
  #sort-items {
    position: relative;
    width: 100px;
    border-radius: none;
    @extend %light-shadow;
  }
  .advanced-search {
    padding: 10px 0;
    @include mobile-only {
      padding: 0px;
    }
    .search-params {
      // width:99.49%;
      background: $white;
      max-height: 350px;
      overflow-y: hidden;
      @extend %trans;
      &.hide {
        max-height: 0;
        // overflow: hidden;
      }
    }
    @include mobile-only {
      width: 99.49%;
      .material-icons {
        top: 48px !important;
      }
    }
    p {
      position: absolute;
      top: 32px;
      font-family: 'Roboto Thin';
      font-size: 16px;
      width: 170px;
      right: 5px;
      padding: 6px 10px;
      border-left: 1px solid #b4b4b4;
      margin: 10px 0px;
      .material-icons {
        vertical-align: top;
        color: $primary-green !important;
      }
      &:hover {
        cursor: pointer;
      }
      &.closed {
        &::after {
          content: '';
          width: 0;
          height: 0;
          position: absolute;
          right: 15px;
          top: 50%;
          margin-top: -3px;
          border-width: 6px 6px 0 6px;
          border-style: solid;
          border-color: $primary-green transparent;
          transform: rotate(360deg);
        }
      }
    }
    .mobile-advanced-search {
      display: none !important;
      @include mobile-only {
        display: inherit;
      }
    }
    .desktop-advanced-search {
      @include mobile-only {
        display: none !important;
      }
    }
  }
  .filter-container {
    @include mobile-only {
      text-align: center;
      margin: 15px 0;
    }
    @include tablet-only {
      text-align: center;
    }
  }
  @include mobile-only {
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding: 5px;
  }
  .filter-dropdown {
    padding-left: 0 !important;
    padding-right: 0 !important;
    @include mobile-only {
      margin-top: -15px;
    }
    .filter-option {
      .material-icons {
        vertical-align: middle;
        margin-left: 5px;
        @include mobile-only {
          margin-left: 0px !important;
        }
      }
    }
    button {
      display: none !important;
    }
    div {
      padding: 0px !important;
      border: none !important;
      @include mobile-only {
        height: 24px !important;
        line-height: 24px !important;
        margin-left: 0px;
      }
    }
    & > div:hover {
      border-bottom: thin solid $primary-green !important;
    }
    &:nth-child(2),
    &:nth-child(3) {
      text-align: right !important;
      @include mobile-only {
        text-align: center !important;
      }
    }
  }
  .filter-dropdown.map-filter {
  }
}

.Browser__searchContainer > div > div {
  margin-left: 0 !important;
  margin-right: 0 !important;
  height: 25px;
  @include mobile-only {
    height: auto;
  }
}

.products-grid {
  position: relative;
  margin-bottom: 100px;
  @include mobile-only {
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
  }
  @include desktop-and-up {
    padding: 2%;
  }
}

.categories-container {
  position: relative;
  margin-top: 30px;
  @extend %light-shadow;
  h4 {
    position: relative;
    top: 5%;
    @include tablet-landscape-and-up {
      text-indent: 3rem;
    }
    @include desktop-and-up {
      text-indent: 3rem;
    }
  }
  &.tab-hidden {
    @include tablet-only {
      display: none;
    }
  }
  &.mobile-hidden {
    @include mobile-only {
      display: none;
    }
  }
  ul {
    top: 3%;
    padding: 0 0 0 3%;
  }
  @include mobile-only {
    height: auto;
    margin-top: 0;
  }
  @include tablet-only {
    height: auto;
    margin-top: 0;
  }
  @include desktop-and-up {
    left: 0%;
  }
}

.advanced-search,
.categories-container {
  font-family: 'Roboto';
  ul {
    list-style: none;
    &.search-type {
      display: flex;
      li {
        width: 20%;
        padding: 1%;
        @include mobile-only {
          width: auto !important;
        }
      }
      span:first-of-type {
        position: relative;
        bottom: 9%;
        margin-right: 5%;
        img {
          height: remSize(30px);
          width: remSize(30px);
          &.large {
            height: remSize(40px);
            width: remSize(40px);
          }
          @include mobile-only {
            &.spaced {
              position: relative;
              left: 1%;
            }
          }
        }
      }
      span.search-title {
        position: relative;
        left: 10%;
      }
      @include mobile-only {
        width: 100%;
        display: table;
      }
    }
    &.category-list {
      li {
        margin-top: 10px;
      }
    }
    li {
      label.check {
        position: relative;
        width: 15px;
        height: 15px;
        min-height: 15px;
        padding-left: 0px;
        border: 1px solid $primary-green;
        margin: 0 !important;
        div {
          display: none;
          position: relative;
          height: 83%;
          width: 82%;
          left: 11%;
          top: 9%;
          background: $primary-green;
          @include mobile-only {
            height: 83%;
            width: 84%;
            left: 9%;
            top: 8%;
          }
        }
        &:hover {
          cursor: pointer;
        }
        &.active > div {
          background: $primary-green;
        }
      }
      input[type='radio'] {
        display: none;
      }
      input[type='radio']:checked + label::after {
        content: '';
        zoom: 1;
        position: relative;
        display: block;
        height: 1.1rem;
        width: 1.1rem;
        left: 0.1rem;
        top: 0.1rem;
        background: #5fa02f;
        bottom: 0;
        @include desktop-and-up {
          height: 1.12rem;
          width: 1.12rem;
        }
      }
      span {
        position: relative;
        top: 0px !important;
        left: -9px !important;
        font-size: 16px;
        text-transform: capitalize;
        line-height: 1;
      }
    }
  }
  @include mobile-only {
    ul {
      padding-left: 0;
    }
  }
}

// custom dropdown
.dropdown-title {
  line-height: 1.8;
  font-size: 16px;
  font-weight: 400;
  @include mobile-only {
    text-indent: 5%;
    width: 100%;
  }
}

.dropdown-container {
  display: inline-block;
  &.active {
    border-bottom: thin solid #5fa02f;
  }
  &.title {
    .dropdown-wrapper.active > ul.dropdown {
      width: calc(100% + 90px) !important;
      left: -80px;
      padding: 5px 10px;
    }
  }
  &.view-type {
    #active-sort {
      vertical-align: middle;
      .material-icons {
        vertical-align: top;
      }
    }
  }
}

.dropdown-wrapper {
  position: relative;
  padding: 3.5%;
  background: transparent;
  box-shadow: none;
  @extend %lighter-shadow;
  #active-sort {
    font-size: 16px;
  }
  &:hover {
    cursor: pointer;
  }
  // &::after {
  //   content: '';
  //   width: 0;
  //   height: 0;
  //   position: absolute;
  //   right: 15px;
  //   top: 50%;
  //   margin-top: -3px;
  //   border-width: 6px 6px 0 6px;
  //   border-style: solid;
  //   border-color: $primary-green transparent;
  // }
  &.active > ul.dropdown {
    outline: none;
    display: block;
  }
  &.items-sort {
    padding: 5px;
    @include mobile-only {
      padding: 3%;
    }
    @include tablet-only {
      padding: 2.5%;
    }
  }
  &.items-view {
    padding: 10px;
    @include mobile-only {
      padding: 3%;
    }
    @include tablet-only {
      padding: 2.5%;
    }
  }
  &.items-view {
    width: 80px;
    padding: 3%;
    @include mobile-only {
      padding: 3%;
    }
    @include tablet-only {
      padding: 2.5%;
    }
  }
  &.items-page {
    width: 60px;
    padding: 6%;
    @include mobile-only {
      padding: 3%;
    }
    @include tablet-only {
      padding: 2.5%;
    }
  }
  ul.dropdown {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    padding: 0;
    list-style: none;
    background: $white;
    display: none;
    transition: all 0.3s ease-out;
    z-index: 100;

    @extend %lighter-shadow;
    li {
      padding: 5%;
      img {
        height: remSize(25px);
        width: remSize(25px);
        &.large {
          position: relative;
          height: remSize(35px);
          width: remSize(35px);
          left: -2px;
        }
        &.large + span {
          left: -2px;
        }
      }
      span {
        position: relative;
        left: 5%;
        top: 2px;
      }
      &:hover {
        cursor: pointer;
        background: $primary-grey;
      }
    }
  }
  #active-sort {
    img {
      position: relative;
      height: remSize(25px);
      width: remSize(25px);
      bottom: 2px;
    }
    @include mobile-only {
      width: 100%;
    }
  }
  @include mobile-only {
    width: 119px;
    left: 5%;
    top: 5px;
  }
  @include tablet-only {
    padding: 2.5%;
  }
}

.items-container {
  padding: 10px 9%;
  @include mobile-only {
    padding: 0px;
  }
  @include tablet-only {
    padding: 10px 3%;
  }
}

// general use styling classes
.xs-no-padding {
  @include mobile-only {
    padding: 0;
  }
}

.no-padding {
  padding: 0;
}

.pagination {
  display: inline-block !important;
  padding-left: 0 !important;
  margin: 0;
  border-radius: none !important;
  font-size: 18px;
  margin-top: 10px;
}

.pagination > .active > a {
  font-weight: bolder;
  z-index: 0;
  color: #60a030;
  cursor: default;
  border-bottom: 1px solid;
  border-color: #60a030 !important;
  background-color: #fff !important;
}

.pagination > .active > a:hover {
  z-index: 0;
  color: none;
  cursor: default;
}

.pagination > li > a {
  position: relative;
  float: left;
  padding: 0 5px;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none;
  background-color: #fff;
  border: 0px solid #ddd;
  color: #8d8d8d;
  font-weight: bold;
  cursor: pointer;
}

.pagination > li > a:hover {
  z-index: 0;
  color: #60a030;
  background-color: #fff;
  border-bottom: 1px solid;
  border-color: #60a030 !important;
}
.pagination > li > a:focus {
  z-index: 0;
  color: #60a030;
  cursor: pointer;
  outline: none;
  outline-offset: 0;
}

.pagination > li:first-child > a {
  // font-weight: bold;
  color: #8d8d8d;
}
.pagination > li:first-child > a:hover {
  border-bottom: none;
}
.pagination > li:last-child > a {
  color: #8d8d8d;
  // font-weight: bold;
}

.pagination > .active > a,
.pagination > .active > a:focus {
  z-index: 0;
  color: #60a030;
  cursor: pointer;
  outline: none;
  outline-offset: 0;
}
.pagination {
  .previous a:hover {
    border: none;
  }
  .next a:hover {
    border: none;
  }
}

// Dropdown menu
.filter-option {
  .material-icons {
    vertical-align: middle;
    margin-left: 5px;
  }
}
