@import '../../App/styles/partials/main';

.BrowserCarousel__sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  @include mobile-only {
    margin: 0;
  }
  .img-div {
    width: 40%;
    float: left;
    @include mobile-only {
      width: 100%;
    }
  }
  .slick-next:before,
  .slick-prev:before {
    color: green !important;
  }
  .slick-slide img {
    max-height: 500px;
  }
  .slider-info {
    display: inline-block;
    display: flex; /* establish flex container */
    flex-direction: column; /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    height: 300px;
    text-align: left;
    margin-left: 10%;
    @include mobile-only {
      width: 100%;
    }
    @include mobile-only {
      text-align: center;
      margin: 0px;
    }
    .slider-btn {
      margin-top: 20px;
    }
    .slider-title__small {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  .slider-description {
    display: block;
    overflow: hidden;
  }
  .slick-prev {
    @include mobile-only {
      left: -10px !important;
      z-index: 999;
      font-size: 30px;
      height: 30px;
      width: 30px;
    }
  }
  .slick-prev:before {
    font-size: 25px !important;
  }
  .slick-next {
    @include mobile-only {
      right: -10px !important;
      z-index: 999;
      font-size: 30px;
      height: 30px;
      width: 30px;
    }
  }
  .slick-next:before {
    font-size: 25px;
  }
  .slick-dots li.slick-active button:before {
    color: green;
  }
  .slick-dots li button:before {
    color: green;
    font-size: 25px;
  }
  .carousel.carousel-slider {
    min-height: 400px;
    @include mobile-only {
      width: 100% !important;
    }
    .carousel__div {
      height: 540px;
      @include mobile-only {
        height: 400px;
      }
    }
  }
  .carousel .slide {
    background-color: #fff;
  }
  .carousel.carousel-slider .control-arrow {
    top: 28%;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    margin-top: 0;
    padding: 5px;
    height: 50px;
    background: #bec1c1;
    width: 50px;
    border-radius: 50%;
  }
  .carousel .slide img {
    @include mobile-only {
      width: 80%;
    }
  }
  .carousel .control-dots .dot {
    width: 15px;
    height: 15px;
    background: green;
  }
  .video-component video {
    padding: 20px;
  }
}

.BrowserCarousel__openContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 50px;
  background: white;
}

.BrowserCarousel__openButton {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.BrowserCarousel__close {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 100%;
}

.BrowserCarousel__sliderContainer--bold {
  font-weight: 900;
}

.BrowserCarousel__sliderContent {
  /* position: relative; */
  height: 400px;
  padding: 0;
  margin-bottom: 0px;

  .slider-image {
    /* position: relative; */
    margin-top: 20px;
    height: 100%;
    padding: 0;

    .slide-image {
      /*  position: absolute; */
      margin-top: 10px;
      height: 100%;
      display: none;
      @extend %trans;

      &.active-slide {
        display: flex;
      }
    }

    img {
      /* position: relative; */
      width: 100%;
      height: 100%;
    }
  }

  .slider-info {
    .slider-info-inner {
      position: absolute;
      @include mobile-only {
        position: relative;
      }
      .slider-description {
        margin-bottom: 20px;
        max-width: 80%;
      }

      .slider-description,
      .slider-title__small {
        font-weight: 300;
      }
    }
    .offer-name {
      margin-top: 20px;
    }

    button {
      z-index: 1;

      &:hover {
        cursor: pointer;
      }
    }
    @include mobile-only {
      text-align: center;
      // display: none;
    }
    @include tablet-only {
      // display: none;
    }
  }
  @include mobile-only {
    padding: 0;
    height: 100% !important;
  }
}

.showing {
  display: block !important;
}

.not-showing {
  display: none !important;
}

.BrowserCarousel__sliderNav {
  position: relative;
  min-width: 100%;
  bottom: 0;
  text-align: center;
  background: white;

  ul {
    display: inline-flex;
    margin: 25px 0 0 0;

    li {
      border-width: 2px;
      border-color: $slider-nav-bg;
      border-style: solid;
      border-radius: 50%;
      background-color: $slider-nav-bg;
      opacity: 1;
      width: 15px;
      height: 15px;
      z-index: 33;
      margin-left: 5px;
      list-style: none;

      &:hover {
        cursor: pointer;
      }
    }

    .active {
      background-color: $slider-nav-active-bg;
      border-color: $slider-nav-active-bg;
    }
    img {
      height: 13px;
    }
  }
}
