@import '../../App/styles/partials/main';

/* Layout */

.CatBreadcrums__wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
  height: 25px;
  @include mobile-only {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.CatBreadcrums__itemWrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}

.CatBreadcrums__spacer {
  display: flex;
  align-items: center;
}

/* Format */
.CatBreadcrums__wrap {
  font-family: 'Roboto';
}

.CatBreadcrums__title {
  padding: 6px 0 0 0;
  margin-top: -1px;
  color: $primary-green;
  display: inline-block;
  font-size: 15px;
  font-family: 'Roboto';
  outline: none;
  position: relative;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  width: auto;
}

.CatBreadcrums__spacer {
  padding: 5px 0 0 0;
}

.CatBreadcrums__dropDown {
  padding: 0 !important;
  margin: 0 !important;
  & > div > div {
    padding: 0 !important;
    margin-top: -1px;
  }
}
.desktop__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 100%;
}
.mobile__container{
  width: 100%;
  div{
    height: 20px;
    display: inline-block;
    padding-top: 0px;
  }
  div:nth-child(2){
    width: calc(100% - 75px) !important;
  }
  .nested-category-mobile{
    user-select: none;
    height: 20px;
    padding: 0px 0 0 6px !important;
    span{
      color: #5FA02F !important;
      font-size: 15px !important;
      font-family: 'Roboto' !important;
    }
    div {
      padding: 0px !important;
    }
  }
  
}
.mobile__container.default_selected {
  .nested-category-mobile span[role="menuitem"]{
    &>div>div{
      &>div:nth-child(2){
        position: absolute !important;
        left: -77px;
        width: 95px !important;
        text-align: right;
        top: -2px;
      }
    }
  }
  
}
