.hexagon {
    position: relative;
    width: 300px; 
    height: 173.21px;
    background-color: #64C7CC;
    margin: 86.60px 0;
  }
  
  .hexagon:before,
  .hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }
  
  .hexagon:before {
    bottom: 100%;
    border-bottom: 86.60px solid #64C7CC;
  }
  
  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 86.60px solid #64C7CC;
  }