@import '../../App/styles/partials/main';
.form-browser-container {
  .search-button {
  }
}
.Search__input-wrapper {
  position: relative;
  display: inline-block;
  width: calc(100% - 18px);
  background-color: #fff;
  // padding: 0px 20px;

  & > div {
    width: calc(100% - 45px) !important;
    hr {
      display: none;
    }
  }
  .material-icons {
    position: absolute;
    left: 15px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    color: #777 !important;
  }
}
