@import '../../App/styles/partials/main';

/**********/
/* Layout */
/**********/

.gridsViewItemsBrowser__wrap {
  &.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  video {
    height: 100%;
  }

  .cards__item {
    display: flex;
    padding: 1.5rem;

    & > a {
      width: 100%;
      @include mobile-only {
        float: right;
        text-align: -webkit-center;
      }
    }
    a:hover {
      text-decoration: none;
    }
    @media (min-width: 40rem) {
      width: 50%;
    }
    @media (min-width: 56rem) {
      width: 33.3333%;
    }
    @include mobile-only {
      width: 100%;
      display: flex;
      float: right;
      text-align: center;
      padding: 20px 0 20px 0;
    }
  }

  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 350px;

    @include mobile-only {
      margin-left: 2.5%;
      width: 95%;
      height: 100%;
      margin-right: 82px;
    }
  }

  .card__image {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    overflow: hidden;
    position: relative;
    div {
      height: 100%;
    }
    img {
      height: calc(100% - 40px) !important;
      width: calc(100% - 40px) !important;
      max-height: 240px;
      margin-top: 25px;
      margin-left: 20px;
      @include mobile-only {
        margin-left: 0;
      }
    }
    & > div {
      height: 100%;
    }
  }

  .card__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    padding: 1rem 2rem;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    background-color: $primary-white;
    font-size: 1.7rem;
    border-top: thin solid $primary-grey;
  }
  .card__title {
    color: $dark;
    letter-spacing: 2px;
    text-transform: uppercase;
    width: 50%;
    height: 50px;
    overflow: hidden;
    @include mobile-only{
      text-align: left;
    }
  }
  .card__price {
    color: $light-green;
    height: 30px;
    overflow: hidden;
  }

  .card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }
}

/**********/
/* design */
/**********/
