@import '../../App/styles/partials/main';

/* layout */
.listViewItemsBrowser__card {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: stretch;
  &a:link {
    text-decoration: none;
  }
}

.listViewItemsBrowser__card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  align-content: stretch;
  flex-grow: 1;
  text-align: left;
  padding: 10px 15px 10px 0;
  @include mobile-only {
    width: 65%;
  }
}

.listViewItemsBrowser__card-price {
  align-self: flex-end;
}

/* design */
.listViewItemsBrowser__card {
  margin-top: 10px;
  &:hover {
    background-color: #f3f3f3;
    cursor: pointer;
  }
}

.listViewItemsBrowser__card-image {
  img {
    width: 100%;
    height: 100%;
    max-height: 300px;
  }
}

.listViewItemsBrowser__card-title {
  min-width: 100%;
  font-size: 1.7rem;
  @include mobile-only {
    min-width: calc(100% - 5px) !important;
    font-size: 1.7rem;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
    display: inline-block;
    width: calc(100% - 5px);
  }
}

.listViewItemsBrowser__card-price {
  text-align: right;
  padding: 0px 10px;
  span {
    color: $light-green;
    font-weight: 500;
    font-size: 2rem;
    @include mobile-only {
      font-size: 1.3rem;
    }
  }
}
.listViewItemsBrowser__card-description {
  width: 85%;
  padding: 10px 0px;
  @include mobile-only {
    padding: 8px 0px;
    height: 51px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
