@import url('https://fonts.googleapis.com/css?family=Roboto');

/* -- Variables --------------------------- */
$Grey: #9e9e9e;
$grey50: #fafafa;
$grey100: #f5f5f5;
$grey200: #eeeeee;
$grey300: #e0e0e0;
$grey400: #bdbdbd;
$grey500: #9e9e9e;
$grey600: #757575;
$grey700: #616161;
$grey800: #424242;
$grey900: #212121;
/* ---------------------------------------- */

/* -- Layout ------------------------------ */

.Item__Wrap {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
}
.item__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.item__body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.item__body-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.item__body-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.item__body-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.item__bodyInfo-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.item__bodyInfo-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.item__bodyInfo-data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.item__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* ---------------------------------------- */

/* -- Formats ------------------------------ */

.Item__Wrap {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 400;
  color: $grey800;
  max-width: 21em;
  padding: 15px 0 5px 0;
  /* border: 1px solid fuchsia; */
  border-bottom: 1px solid $grey300;
}
.item__header {
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
}
.item__body {
  padding: 5px 0 5px 0;
  /* border: 1px solid olivedrab; */
}
.item__body-photo {
  padding: 0 0 5px 0;
}
.item__body-info {
  padding: 0 0 0 5px;
  min-height: 100%;
  /* border: 1px solid orange; */
}
.item__bodyInfo-row {
  padding: 5px 0 0 0;
  /* border: 1px solid green; */
}
.item__bodyInfo-field {
  font-weight: 600;
  min-width: 4.3em;
  /* min-width: 5em; */
  /* border: 1px solid red; */
}
.item__bodyInfo-data {
  padding: 0 15px 0 15px;
  text-align: justify;
  text-justify: auto;
}
.item__footer {
  padding: 5px 15px 5px 0px;
  /*  border: 1px solid darkorchid; */
}
/* ---------------------------------------- */

.itemList__linkToVendor {
  font-family: 'Roboto';
  font-size: small;
  color: blue;
  margin-top: 1em;
  padding-left: 0;
}
