@import '../../App/styles/partials/main';
.map_search_location{
    box-sizing: border-box;
    border: 1px solid transparent;
    width: 240px;
    height: 32px;
    margin-top: 9px;
    padding: 0 12px;
    border-radius: 3px;
    box-shadow:rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    font-size: 14px;
    outline: none;
    text-overflow: ellipses;

    @include mobile-only {
        width:calc(100% - 170px);
        height: 36px;
      }
}