@import '../../App/styles/partials/main';

.search-container {
  width: 100%;
  height: auto;
  background: $search-container-bg;

  .padded {
    .search-cat{
      padding: 0 1%;
      ul{
        margin: 0;
        padding: 0;
        li{
          font-size: 16px;
          color: $primary-green;
          list-style: none;
          display: inline;
          vertical-align: top;
          svg{
            margin: 0 7px;
            color: #999 !important;
          }
        }
      }
    }
    height: 100%;
    padding: 2.7%;
    @include mobile-only {
      padding: 0;
    }
  }

  .padded-small {
    height: 100%;
    padding: 1.5%;
  }

  label.filter {
    padding: 1.9%;
    width: 100px;
    text-align: center;
    background: rgba(255, 255, 255, 0.07);
    @extend %lighter-shadow;

    &.active {
      background: $white;
    }
  }

  form {
    .row {
      padding: 1%;
      margin-left: 0;
    }

    input[type='search'] {
      width: 98.3%;
      height: 50px;
      border: 0.1px solid #e3e4e4;
      padding: 20px;
      font-family: 'Roboto Light';
      font-size: 22px;
      @extend %lighter-shadow;

      &:focus {
        outline: none;
      }
      @include mobile-only {
        width: 96%;
      }
    }
  }

  #sort-items {
    position: relative;
    width: 100px;
    border-radius: none;
    @extend %light-shadow;
  }

  .advanced-search {
    padding: 1%;
    position: relative;
    .search-params {
      background: $white;
      max-height: 350px;
      overflow-y: hidden;
      @extend %lighter-shadow;
      @extend %trans;

      &.hide {
        max-height: 0;
        // overflow: hidden;
      }
    }

    p {
      position: relative;
      top: 2%;
      float: right;
      font-size: 16px;
      width: 145px;

      &:hover {
        cursor: pointer;
      }

      &::after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        right: 15px;
        top: 50%;
        margin-top: -3px;
        border-width: 6px 6px 0 6px;
        border-style: solid;
        border-color: $primary-green transparent;
        transform: rotate(180deg);
      }

      &.closed {
        &::after {
          content: '';
          width: 0;
          height: 0;
          position: absolute;
          right: 15px;
          top: 50%;
          margin-top: -3px;
          border-width: 6px 6px 0 6px;
          border-style: solid;
          border-color: $primary-green transparent;
          transform: rotate(360deg);
        }
      }
    }
  }

  .filter-container {
    @include mobile-only {
      text-align: center;
      margin: 15px 0;
    }
    @include tablet-only {
      text-align: center;
    }
  }

  @include mobile-only {
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 20px;
  }
}

.products-grid {
  position: relative;
  margin-bottom: 100px;
  @include mobile-only {
    height: auto;
    margin-bottom: 10px;
    margin-top: 10%;
  }
  @include desktop-and-up {
    padding: 2%;
  }
}

.categories-container {
  position: relative;
  margin-top: 30px;
  @extend %light-shadow;

  h4 {
    position: relative;
    top: 5%;
    @include tablet-landscape-and-up {
      text-indent: 3rem;
    }
    @include desktop-and-up {
      text-indent: 3rem;
    }
  }

  &.tab-hidden {
    @include tablet-only {
      display: none;
    }
  }

  &.mobile-hidden {
    @include mobile-only {
      display: none;
    }
  }

  ul {
    top: 3%;
    padding: 0 0 0 3%;
  }
  @include mobile-only {
    height: auto;
    margin-top: 0;
  }

  @include tablet-only {
    height: auto;
    margin-top: 0;
  }

  @include desktop-and-up {
    left: 0%;
  }
}

.advanced-search,
.categories-container {
  ul {
    list-style: none;

    &.search-type {
      display: flex;

      li {
        width: 20%;
        padding: 1%;
        @include mobile-only {
          width: auto !important;
        }
      }

      span:first-of-type {
        position: relative;
        bottom: 9%;
        margin-right: 5%;

        img {
          height: remSize(30px);
          width: remSize(30px);

          &.large {
            height: remSize(40px);
            width: remSize(40px);
          }
          @include mobile-only {
            &.spaced {
              position: relative;
              left: 1%;
            }
          }
        }
      }

      span.search-title {
        position: relative;
        left: 10%;
      }
      @include mobile-only {
        width: 100%;
        display: table;
      }
    }

    &.category-list {
      li {
        margin-top: 10px;
      }
    }

    li {
      label.check {
        position: relative;
        width: 15px;
        height: 15px;
        min-height: 15px;
        padding-left: 0;
        border: 1px solid $primary-green;
        margin: 0 !important;

        div {
          display: none;
          position: relative;
          height: 83%;
          width: 82%;
          left: 11%;
          top: 9%;
          background: $primary-green;
          @include mobile-only {
            height: 83%;
            width: 84%;
            left: 9%;
            top: 8%;
          }
        }

        &:hover {
          cursor: pointer;
        }

        &.active > div {
          background: $primary-green;
        }
      }

      input[type='radio'] {
        display: none;
      }

      input[type='radio']:checked + label::after {
        content: '';
        zoom: 1;
        position: relative;
        display: block;
        height: 1.1rem;
        width: 1.1rem;
        left: 0.1rem;
        top: 0.1rem;
        background: #5fa02f;
        bottom: 0;
        @include desktop-and-up {
          height: 1.12rem;
          width: 1.12rem;
        }
      }

      span {
        position: relative;
        left: 15px !important;
        font-size: 16px;
        text-transform: capitalize;
        line-height: 1;
      }
    }
  }
  @include mobile-only {
    ul {
      padding-left: 0;
    }
  }
}
// custom dropdown

.dropdown-title {
  float: left;
  margin-right: 2%;
  line-height: 1.8;
  font-size: 22px;
  font-weight: 400;

  @include mobile-only {
    text-indent: 5%;
    width: 100%;
  }
}

.dropdown-wrapper {
  position: relative;
  padding: 3.5%;
  background: #ffffff;
  @extend %lighter-shadow;

  &:hover {
    cursor: pointer;
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: $primary-green transparent;
  }

  &.active > ul.dropdown {
    outline: none;
    display: block;
  }

  &.items-sort {
    padding: 10px;
    @include mobile-only {
      padding: 3%;
    }

    @include tablet-only {
      padding: 2.5%;
    }
  }

  &.items-view {
    width: 80px;
    padding: 10px;
    @include mobile-only {
      padding: 3%;
    }

    @include tablet-only {
      padding: 2.5%;
    }
  }

  &.items-view {
    width: 80px;
    padding: 3%;
    @include mobile-only {
      padding: 3%;
    }

    @include tablet-only {
      padding: 2.5%;
    }
  }

  &.items-page {
    width: 60px;
    padding: 6%;
    @include mobile-only {
      padding: 3%;
    }

    @include tablet-only {
      padding: 2.5%;
    }
  }

  ul.dropdown {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    padding: 0;
    list-style: none;
    background: $white;
    display: none;
    transition: all 0.3s ease-out;
    z-index: 100;
    @extend %lighter-shadow;

    li {
      padding: 5%;
      img {
        height: remSize(25px);
        width: remSize(25px);
        &.large {
          position: relative;
          height: remSize(35px);
          width: remSize(35px);
          left: -2px;
        }
        &.large + span {
          left: -2px;
        }
      }
      span {
        position: relative;
        left: 5%;
        top: 2px;
      }
      &:hover {
        cursor: pointer;
        background: $primary-grey;
      }
    }
  }
  #active-sort {
    img {
      position: relative;
      height: remSize(25px);
      width: remSize(25px);
      bottom: 2px;
    }
    @include mobile-only {
      width: 100%;
    }
  }
  // @include mobile-only {
  //   width: 119px;
  //   left: 5%;
  //   top: 5px;
  // }

  @include tablet-only {
    padding: 2.5%;
  }
}

.items-container {
  margin-bottom: 100px;
}

// general use styling classes
.xs-no-padding {
  @include mobile-only {
    padding: 0;
  }
}
.no-padding {
  padding: 0;
}
