@import '../../App/styles/partials/main';

.ProfilePage {
  margin: 0 auto;
  height: 100%;
  .profilePage__wraper {
    position: fixed;
    background-color: white;
    z-index: 10;
    padding: 0px;
    @include tablet-only{
      padding-right: 0px
    }
    @include mobile-only{
      width: 95%;
      margin-left: 2.5%;
      margin-top: -60px;
    }
  }
  .profile-tabs {
    margin-left: 0;
    margin-right: 0;
     @include mobile-only {
      width: 100%;
    }

    cursor: pointer;
    .tab {
      font-size: 16px;
      text-align: center;
      padding: 16px 0px;
      font-weight: bold;
      &.active {
        color: $primary-green !important;
        // border-bottom: 2px solid $primary-green;
      }
    }
    .tab-mob {
      text-align: center;
      padding: 10px;
      &.active {
        color: $primary-green;
        border-bottom: 2px solid #5FA02F;
      }
    }
  }
  .profile-tabs-info {
    // width: 100%;
    margin-top: 180px;
    @include mobile-only {
      margin-top: 80px;
    }
    .labelTitle {
      width: 156px;
      @include mobile-only {
        width: 80px;
        padding: 0px;
      }
    }
    .info-tab {
      border: 1px solid #e4e4e4;
      padding: 20px;
      ul {
        margin: 0;
        padding: 0;
        li {
          border-left: 0.5px;
          width: 100%;
          list-style: none;
          display: table;
          height: 45px;
        }
      }
      .user-icon {
        border-right: 0.5px solid $menu-border;
        text-align: center;
        max-width: 100%;
        height: 100%;
      }
      .profile-pic {
        margin: 40px 20px;
        .profile_image {
          width: 200px;
          height: 200px;
        }
      }
      .editButton {
        min-width: 100px !important;
        width: 35%;
        float: right;
        //   margin:0px 20px 30px 0px;
      }
      @include mobile-only {
        padding: 0px;
        padding-bottom: 20px;
        right: 0;
      }
      .info-tab {
        width: 150px;
      }
    }
    .order-tab {
      ul {
        margin: 0;
        padding: 0;
        li {
          border-bottom: 1px solid $menu-border;
          border-left: 0.5px;
          width: 100%;
          list-style: none;
          display: table;
          padding: 20px;
          &:hover {
            background-color: #f9f9f9;
            span {
              background-color: #e67e22 !important;
            }
          }
        }
      }
      .item-name {
        padding: 10px;
        font-size: 18px;
      }
      .item-info {
        margin-top: 10px;
        padding-left: 20px;
        .item-image {
          float: left;
          width: 70px;
          img {
            width: 70px;
          }
        }
        .item-detail {
          padding-left: 30px;
          float: left;
          font-size: 18px;
          width: calc(100% - 70px);
          .item-delievery-date {
            padding-top: 5px;
            color: $primary-green;
          }
        }
      }
      .order-status {
        text-align: center;
        top: 50px;
        height: 100%;
      }
      .mobile-view {
        .item-thumb-img {
          max-height: 50px;
          max-width: 50px;
          width: 50px;
        }
        /deep/ .item-status {
          color: $red;
          font-size: 12px;
          right: 25px !important;
        }
        .item-delivery-date {
          color: '#5FA02F';
        }
      }
    }
    .wallet-tab {
      ul {
        margin: 0;
        padding: 0;
        li {
          border-bottom: 1px solid $menu-border;
          width: 100%;
          list-style: none;
          display: table;
          padding: 20px 5px 5px 5px;
          &:hover {
            background-color: $light-grey;          }
            .material-icons{
              font-size: 35px !important;
            }
            @include mobile-only{
              padding: 20px 0px;
            }
        }
      }
      .wallet-info {
        .wallet-image {
          float: left;
          img {
            width: 50px;
          }
        }
        .wallet-detail {
          float: left;
          padding-left: 15px;
          padding-top: 10px;
          @include mobile-only{
            padding-left: 5px;
          }
          .wallet-name {
            h4 {
              font-weight: bold;
              margin-top: 0px;
              margin-bottom: 0px;
            }
          }
        }
        .wallet-price{
          @include mobile-only{
            font-size: 10px;
          }
        }
      }
      .transaction-tab{
        border-bottom: 1px solid #E4E4E4;
        width: 100%;
        list-style: none;
        background-color: white;
        margin-top: 60px;
        overflow-y: scroll;
        @include mobile-only{
          margin-top: 120px;
        }
      }
    }
    .transaction-tab {
      .search-transaction {
        border: 1px solid $menu-border;
        background-color: rgba(228, 228, 228, 0.39);
        text-align: right;
        padding: 5px 10px 5px 5px;
        margin-bottom: 5px;
        position: relative;
        &>div{
          @include mobile-only{
            width: 100% !important;
          }
        }
        .material-icons{
          position: absolute !important;
          right: 20px !important;
        }
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          border-bottom: 1px solid $menu-border;
          border-left: 0.5px;
          width: 100%;
          list-style: none;
          display: table;
          padding: 20px;
          &:hover{
              background: none;
          }
        }
      }
      .transaction-date {
        max-width: 25px;
        text-align: center;
        color: $primary-green;
      }
    }
  }
  .li-border {
    border-right: 1px solid $menu-border;
    padding-right: 20px;
  }
  .profile-tabs-div{
    padding: 0px;
    @include mobile-only{
      width: 95%;
      margin: auto;
      margin-left: 2.5%;
    }
  }
  .avatar{
    @include mobile-only{
    justify-content: center;
    display: flex;
    }
  }
  .description{
    @include mobile-only{
      margin: 0px !important;
      padding: 0px;
    }
  }
  .personName{
    padding: 3px 0px;
    @include mobile-only{
      padding: 20px 0px;
      text-align: center;
    }
  }

}
.userInfo {
  img {
    width: 24px;
    height: 24px;
  }
}
.no-padding{
  padding-right: 0px;
  padding-left: 0px;
}
