@import '../../App/styles/partials/main';
@import './partials/variables';
@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '~react-responsive-carousel/lib/styles/carousel.min.css';

@font-face {
  src: url('./fonts/Roboto-Thin.ttf');
  font-family: 'Roboto Thin';
  font-weight: normal;
}

@font-face {
  src: url('./fonts/Roboto-Thin.ttf');
  font-family: 'Roboto Light';
  font-weight: normal;
}

navbar > .container-fluid {
  margin-left: 0;
  margin-right: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  font-family: 'Roboto Light';
  overflow-x: hidden;
}

.App__childrenWrap {
  @include mobile-only {
    margin-top: 0px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  & > div {
    width: 100%;
  }
}

.App__tabWrap {
  width: 100%;
  margin: auto;
  margin-top: 120px;
}

// nav tabs styling
.tab-wrapper {
  margin-top: 60px;
  position: fixed;
  z-index: 10;
  padding: 0px;
  top: 0px;
  justify-content: center;
  display: flex;
  background-color: $slider-bg;
  @include mobile-only {
    padding: 0px;
    left: 0px;
  }
  .tab-container {
    background-color: $slider-bg;
    .active-link {
      background-color: $slider-bg !important;
      color: $primary-green !important;
    }
    .active-tab {
      background: $active-tab !important;
      color: $light-grey !important;
    }
    &div {
      background: $slider-bg;
      color: $light-grey;
    }
    .tab {
      background: $slider-bg !important;
      color: $active-tab !important;
    }
    .rating-container {
      position: relative;
      left: 4%;
      .rating-content {
        margin-bottom: 5%;
      }
      input[type='number'] {
        display: none;
      }
    }
    & > div:nth-child(2) {
      div {
        height: 4px !important;
      }
    }
  }
}

.btn-green {
  color: $white !important;
  font-family: 'Roboto Thin';
  button {
    background-color: $primary-green !important;
    color: $white !important;
    width: 200px !important;
    span {
      color: rgba(255, 255, 255, 1) !important;
      text-transform: capitalize !important;
    }
  }
}

// Common styles
.inline-block {
  display: inline-block;
  width: 100%;
}

// Message notification box
.ToolTipPortal {
  & > div {
    z-index: 9999 !important;
  }
  & > div:first-child {
    border: thin solid $light-green;
    width: 169px;
    & > div:first-child {
      & > span:nth-child(2) {
        border-bottom-color: $light-green !important;
      }
    }
  }
  .menu-message-notification-box {
    .message-container {
      cursor: pointer;
      border-bottom: thin solid rgb(220, 220, 220);
      padding: 10px 8px 5px 8px;
      .menu-message-name {
        color: $primary-green;
      }
      .menu-message-timestamp {
        color: $primary-green;
        float: right;
      }
      .menu-message-text {
        color: #ccc;
        width: 150px;
        height: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      &:hover {
        background-color: $primary-grey;
        color: $white;
        .menu-message-name,
        .menu-message-timestamp {
          color: #000;
        }
        .menu-message-text {
          color: $white;
        }
      }
    }
  }
}
.map {
  .BrowserCarousel__sliderContainer {
    width: 600px;
  }
}

// Moblle Homepage Code

//   .hexagon {
//     position: relative;
//     width: 110px;
//     height: 75.74px;
//     background-color: #64C7CC;
//     margin: 28.87px 0;
//     text-align: -webkit-auto;
//     &:before, &:after{
//         content: "";
//         position: absolute;
//         width: 110px;
//         border-left: 50px solid transparent;
//         border-right: 50px solid transparent;
//     }
//     &:before{
//         bottom: 100%;
//         border-bottom: 28.87px solid #64C7CC;
//     }
//     &:after {
//         top: 100%;
//         width: 110px;
//         border-top: 28.87px solid #64C7CC;
//       }
//       .button_text{
//         display:block;
//         width:100px;
//         height: 100%;
//         margin: 0 auto;
//         text-align:center;
//         padding-top: 10px;
//         font-weight: bold;
//         font-size: 20px;
//         // border-bottom-color: 2px solid black;
//                 .button_innerText{
//                 font-size: 15px;
//                 font-weight: normal
//                 }

//       }
//   }
.hexagon {
  position: relative;
  width: 120px;
  height: 69.28px;
  background-color: #64c7cc;
  margin: 34.64px 0;
  text-align: -webkit-auto;
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
  }
  &:before {
    bottom: 100%;
    border-bottom: 34.64px solid #64c7cc;
  }
  &:after {
    top: 100%;
    width: 0;
    border-top: 34.64px solid #64c7cc;
  }
  .button_text {
    display: block;
    width: 100px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
    // border-bottom-color: 2px solid black;
    .button_innerText {
      font-size: 15px;
      font-weight: normal;
    }
  }
}

//Button styling

// For Equal Height
.row.display-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 !important;
}
.row.display-flex > [class*='col-'] {
  flex-grow: 2;
}

.feild div:first-child {
  margin-left: 25px !important;
  bottom: 18px !important;
}
.selectFeild {
  margin-top: -9px;
  height: 50px !important;
  border-radius: 4px;
}
.selectFeild > label {
  left: 0px;
  top: 15px !important;
  font-weight: normal;
}
.selectFeild > div {
  margin: -16px !important;
}
.selectFeild button {
  fill: green !important;
}
.selectFeild hr {
  display: none;
}
.selectFeild svg {
  margin-top: 10px;
}
input {
  box-shadow: none;
}
