@import './partials/variables';

@font-face {
  src: url('./fonts/Roboto_thin.otf');
  font-family: 'Roboto Thin';
  font-weight: normal;
}

@font-face {
  src: url('./fonts/Roboto_light.otf');
  font-family: 'Roboto Light';
  font-weight: normal;
}

navbar > .container-fluid {
  margin-left: 0;
  margin-right: 0;
}

html,
body {
  margin: 0;
  padding: 0;

  min-width: 100%;
  width: 100%;
  max-width: 100%;

  min-height: 100%;
  height: 100%;
  max-height: 100%;
  font-family: 'Roboto Light';
  overflow-x: hidden;
}

// nav tabs styling
.tab-container {
  .active-link {
    background-color: $white !important;
    color: $primary-green !important;
  }

  .active-tab {
    background: $active-tab !important;
    color: $white !important;
    text-transform: none !important;
  }

  &div {
    background: #fff;
    color: $light-grey;
  }

  .tab {
    background: $white !important;
    color: $light-grey !important;
  }

  .rating-container {
    position: relative;

    .rating-content {
      margin-bottom: 5%;
      .rating-star {
        svg {
          color: $star-color !important;
        }
      }
      .tab-comments {
        label {
          color: $primary-green;
        }
      }
    }

    input[type='number'] {
      display: none;
    }
  }
}

.btn-green {
  color: $white !important;
  font-family: 'Roboto Thin';

  button {
    background-color: $primary-green !important;
    color: $white !important;
    width: 200px !important;

    span {
      color: rgba(255, 255, 255, 1) !important;
      text-transform: capitalize !important;
    }
  }
}

.btn-primary {
  color: $white !important;
  font-family: 'Roboto Thin';

  button {
    background-color: $primary !important;
    color: $white !important;
    width: 200px !important;

    span {
      color: rgba(255, 255, 255, 1) !important;
      text-transform: capitalize !important;
    }
  }
}
