@import '../../App/styles/partials/main';
// top nav styling
.navegador > * {
  padding-right: 0;
  padding-left: 0;
}

.appbar-color {
  position: fixed !important;
  width: 92%;
  height: 60px;
  background-color: #fff !important;
  border-bottom: 2px solid $primary-grey;
  top: 0;
  box-shadow: none !important;
  &>div{
    margin: 0px !important;
    display: inline-block;
  }
  h1{
    height: 60px !important;
  }

  @include mobile-only {
    width: 100%;
  }
  .btnStyle {
    position: relative !important;
    left: 100%;
    padding: 0px !important;
    height: 60px !important;
    width: 60px !important;
    left: 0px;
  }
}
.tab-container > div {
  background-color: $white !important;
}

.setStyle button {
  padding: 12px 30px 12px 220px !important;
}



.menu-icons-right {
  display: inline-block;
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  border-left: 1.4px solid $menu-border;
  padding: 10px 0px;
  .menu-icon-container {
    float: left;
    &:hover {
      cursor: pointer;
    }
    .menu-message-notification-box {
    }
  }

  .menu-icon-container > div {
    padding: 0 !important;
  }

  button {
    background: transparent !important;
    svg {
      color: $active-tab !important;
    }
  }

  .menu-icon-text {
    position: relative;
    top: -6px;
    right: 5px;
    color: #828282;
  }
  @include mobile-only {
    border-left: none;
  }
  & > div {
    display: -webkit-box;
    widows: 100%;
  }
}
.mobile-menu-btn {
  button {
    height: 45px !important;
    img {
      float: left;
      margin-top: 10px;
    }
    span {
      top: 3px !important;
      left: 20px;
    }
  }
}
.login-dialog {
  @include mobile-only {
    width: 90% !important;
  }
}
.register-dialog {
  @include mobile-only {
    width: 90% !important;
  }
}
.list-cat {
  padding-top: 40px;
  a {
    text-decoration: none;
    a:hover {
      color: $primary-green !important;
      text-decoration: none;
    }
  }
  .menu-nested-list {
    padding: 0px 0px 0px 18px !important;
    button {
      position: absolute !important;
      width: 100% !important;
      & > div {
        float: right !important;
      }
    }
  }
  div{
    color: $secondary-grey;
  }
}

.MenuBrowser__swalBottom {
  font-family: Roboto;
  background-color: #619d3d;
  font-size: 16px;
  padding: 10px;
  color: #fff;
  width: 150px;
  outline: none;
  border: none;
  &:hover {
    background-color: #599138;
  }
}
